body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #636363;
    font-size: 16px;
    line-height: 24px;

}
.fon{
   background-image: url(img/new_background_1.png);
   background-size: cover; 
   background-repeat: no-repeat;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin: 0px 300px ;
    padding: 10px;
}
.master {
    flex-basis: 420px;
    flex-shrink: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    background-color: #ffffff;
    font-weight: 4500;
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
}

button, input {
    border: none;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.button {
    flex-basis: 40%;
    background-color: #25975A;
    color: white;
    font-weight: 450;
    line-height: 38px;
}

.button:hover {
    background-color: white;
    color: black;
}

.regimuli{
    margin-top: 30px;
    display: flex;
    align-items: end;
    gap: 30px;
}

.modifier-title {
    color: white;
    line-height: 24px;
    font-weight: 500;

}
.modifier-slider {
    width: 60px;
    height: 34px;
    background-color: #818080;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.modifier-slider::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-color: white;
}
.search {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.search-icon {
    flex-basis: 40px;
}

.search-input {
    font-weight: 500;
    text-transform: uppercase;
    color: inherit;
    flex-basis: 100%;
    font-size: 16px;
    outline: none;
}

.search-cross {
    flex-basis: 30px;
}

.group{
    margin-top: 20px;
    background-color: #fff;
    height: 100px;
}

.grupa-nume{
    padding: 0 15px;
    background-color: #25975A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 450;
}

.grupa-nume:hover{
    background-color: rgb(251, 251, 192);
    color: #25975A;
}


select#days {
    width: 700px ;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 20;
    font-size: 16px;
    cursor: pointer;
  }

select#days:focus {
    border-color: #228b22;
    outline: none;
  }


  select#week {
    width: 700px ;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
  }

  select#week:focus {
    border-color: #228b22;
    outline: none;
  }

  option {
    padding: 10px;
  }

table {
    border-collapse: collapse;
    width: 700px;
    text-align: center;
  }

td{
    background-color: #fff;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
  }

th, .saptamina {
    background-color: #228b22;
    color: white;
  }

.green {
    background-color: #d6f5d6;
  }

.pink {
    background-color: #f5d6f5;
  }

.blue {
    background-color: #004080;
    color: white;
  }

.orange {
    background-color: #ffa500;
    color: white;
  }

.yellow {
    background-color: #ffff00;
  }

.grey {
    background-color: #e0e0e0;
  }

.descrieri p {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #cfcfcf;

}

.insta{
    display: flex;
}

.buttons {
    margin: 20px auto;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

.purple {
    background-color: #6f42c1;
}

.btn:hover {
    opacity: 0.9;
}
.aveltisment {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9f5f5;
    font-size: 14px;
    color: #3db63d;
}

section.main {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section h1{
    color: #e9f5f5;
}

.main {
    padding: 20px;
}

.schedule-container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table.schedule {
    width: 700px,100%;
    border-collapse: collapse;
    text-align: left;
}

tbody.tab td {
    padding: 10px;
    vertical-align: center;
}

.time {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 20%;
}

.subject {
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
}

.break:hover {
    border: none;
    background-color: #fff9c4;
    color: #000; 
}

tr:nth-child(even) .subject {
    background-color: #f7f7f7;
}

tr.break .time {
    background-color: #4caf50;
}

