body { 
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #636363;
    font-size: 16px;
    line-height: 24px;
    height: 100vh;
}
.fon{
background-image: url(img/new_background_1.png);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
}

   

button,
input {
    border: none;
}

header {
    grid-area: header;
    background: #25975A;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.button {
    background: #25975A;
    color: #25975A;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
}